literature/books/Queueing_Networks_And_Markov_Chains-Modelling_And_Performance_Evaluation_With_Computer_Science_Applications_Bolch_1998.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/probability-and-statistics-with-reliability-queueing-and-computer-science-applications-2ed.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/probability-statistics-and-random-processes-with-queueing-theory-and-queueing-networks-4nbsped.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/scheduling-and-control-of-queueing-networks-institute-of-mathematical-statistics-textbooks-series-number-14.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Reversible_Markov_Processes/Multi-Resource_Fair_Queueing_for_Packet_Processing_Ghodsi_2012.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Reversible_Markov_Processes/ToReverseAMarkovProcess_ChungAndWalsh_Stanford.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/1960-howard-dynamicprogrammingmarkovprocesses.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Brownian_Motion_and_Stochastic_Flow_Systems_Harrison_1985.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/IntroToQueueingTheory_Cooper.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/MarkovProcessesDynkin1969.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Reversibility_and_Stochastic_Processes_Kelly_1979.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Theory_of_Scheduling_Conway_1967_Cornell.pdf filter=lfs diff=lfs merge=lfs -text
